name: NowTV Dropbox Upload

on:
  schedule:
    - cron: '*/5 * * * *'  # Hər 5 dəqiqədən bir işə düşəcək
  workflow_dispatch:  # İstəyə görə manual işə salmaq üçün

jobs:
  upload_nowtv:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.13'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests dropbox

    - name: Run NowTV Dropbox script
      env:
        DROPBOX_TOKEN: ${{ secrets.DROPBOX_TOKEN }}
      run: |
        python ressources/tur/nowtur_dropbox.py
