name: NowTV Dropbox Update

on:
  schedule:
    - cron: '*/60 * * * *'   # Hər 5 dəqiqədə run
  workflow_dispatch:        # İstəyə bağlı manual run

jobs:
  update_nowtv:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.13

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests dropbox

      - name: Run NowTV Dropbox script
        run: python ressources/tur/nowtur_dropbox.py
