name: NOWTUR Dropbox Update

on:
  schedule:
    - cron: "*/5 * * * *"   # Sənin 5 dəqiqəlik avtomatik cron
  workflow_dispatch:       # ← Bunu əlavə edirəm, manual RUN üçün

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.13

      - name: Install dependencies
        run: pip install requests dropbox urllib3

      - name: Run NOWTUR Dropbox Script
        run: python ressources/tur/nowtur_dropbox.py

