name: nowtur1 action

on:
  schedule:
    - cron: '07 */3 * * *'  # hər 3 saata bir run
  workflow_dispatch:        # manual run

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Git config
        run: |
          git config --global user.email "nowtur1@example.com"
          git config --global user.name "nowtur1 bot"

      - name: Check Python version
        run: python3 --version

      - name: Fetch nowtur1 URLs and create m3u8
        env:
          ERSTRM_URL: ${{ secrets.ERSTRM_URL }}
          DASTRM_URL: ${{ secrets.DASTRM_URL }}
        run: |
          python3 ressources/tur/nowtur1.py

      - name: Install Dropbox SDK
        run: pip install --upgrade dropbox

      - name: Upload outputs to Dropbox
        env:
          DROPBOX_TOKEN: ${{ secrets.DROPBOX_TOKEN }}
        run: |
          python3 - <<'EOF'
          import os, dropbox

          dbx = dropbox.Dropbox(os.environ["DROPBOX_TOKEN"])
          folder_path = "/nowtur1"  # Dropbox qovluğu

          local_dir = "outputs/nowtur1"
          for file_name in os.listdir(local_dir):
              local_path = os.path.join(local_dir, file_name)
              dropbox_path = folder_path + "/" + file_name
              with open(local_path, "rb") as f:
                  dbx.files_upload(f.read(), dropbox_path, mode=dropbox.files.WriteMode("overwrite"))
          print("Dropbox-a yükləndi:", os.listdir(local_dir))
          EOF

      - name: Commit & Push updates
        run: |
          git add outputs/nowtur1/*.m3u8
          git commit -m "nowtur1 multivariant links updated" || echo "No changes to commit"
          git push || echo "Push failed, check permissions"
